* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F4;
}

h1 {
    margin-bottom: 3rem;
}

canvas {
    box-shadow: 0 .4rem 1rem rgba(0,0,0,.7);
    width: 800px; height: 600px;
    margin: 30px auto;
}
